<article class="resume active">
  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="school-outline" />
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">
      @for (edu of education; track edu.institution) {
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">{{ edu.institution }}</h4>

        <span>{{ edu.duration }}</span>

        <p class="timeline-text">
          {{ edu.degree }}
          @if (edu.cgpa) {
          <br />
          <strong>CGPA:</strong> {{ edu.cgpa }}
          }
        </p>
      </li>
      }
    </ol>
  </section>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="briefcase-outline" />
      </div>

      <h3 class="h3">Work Experience</h3>
    </div>

    <ol class="timeline-list">
      @for (work of workExperience; track work.company) {
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">{{ work.position }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ work.company }}</h4>

        <span>{{ work.duration }}</span>

        <ul class="timeline-text" style="list-style: disc; padding-left: 20px; margin-top: 10px;">
          @for (resp of work.responsibilities; track $index) {
          <li style="margin-bottom: 8px;">{{ resp }}</li>
          }
        </ul>
      </li>
      }
    </ol>
  </section>

  <section class="skill">
    <h3 class="h3 skills-title">Technical Skills</h3>

    <ul class="skills-list content-card">
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Programming</h5>
        </div>
        <p class="timeline-text" style="margin-top: 8px;">{{ technicalSkills.programming.join(', ') }}</p>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Framework</h5>
        </div>
        <p class="timeline-text" style="margin-top: 8px;">{{ technicalSkills.framework.join(', ') }}</p>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Data Analysis</h5>
        </div>
        <p class="timeline-text" style="margin-top: 8px;">{{ technicalSkills.dataAnalysis.join(', ') }}</p>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Tools</h5>
        </div>
        <p class="timeline-text" style="margin-top: 8px;">{{ technicalSkills.tools.join(', ') }}</p>
      </li>
    </ul>
  </section>
  <a class="download-button" (click)="downloadResume()">
    <img src="/icons/download.svg" alt="Download Resume" />
  </a>
</article>
